$primary: #FFF;
$secondary: rgb(202, 200, 200);

.headerContainer__section{
    position: relative;
}

.coverImage__section{
    background-image:url('../../../images/cover3.jpg');
    background-size: cover;
    height:100vh ;
}

.navBar__section{
    position: absolute;
    top: 0%;
    display: flex;
    color: $secondary;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.Logo__section{
    margin: 0 3rem;
}

.userFeautures__section{
    display: flex;
    padding: 0rem 2rem;
}

.singleFeature__Section{
    margin-right: 3rem;
    outline: none;
    text-decoration: none;
}

.accountLink{
   color: $secondary;
}

.headerText__section{
    color: $primary;
    position: absolute;
    top: 40%;
    left: 15%;
    font-weight: 1000;
    font-size: 250%;
    width: 30%;
    padding: .5rem;
}

.showProducts__button__section{
    position: absolute;
    top: 50%;
    left: 60%;
}

.hederButtons__section{
    position: absolute;
    top: 90%;
    left: 10%;
}

.showProducts__button{
    padding: 1.5rem 6rem;
    border: none;
    background-color: white;
    border-radius: 10px;
    color: rgb(53, 52, 52);
    font-size: 130%;
    font-weight: lighter;
    font-family: sans-serif;
}

.showProducts__button:hover{
    cursor: pointer;
    background-color: rgb(49, 49, 49);
    transition: .5s ease-in-out;
    color: white;
}

.hederButtons__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.headerButton{
    color: rgb(211, 211, 211);
    font-weight: bold;
    font-size: 120%;
    padding: .5rem;
    border-bottom: 3px solid rgb(34, 167, 207);
}